<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net45" />
  <package id="DevExpress.Data" version="20.1.10" targetFramework="net452" />
  <package id="jabber-net" version="2.1.2.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.9.1" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net45" />
  <package id="OC.Core" version="2.0.0" targetFramework="net45" />
  <package id="OC.Core.Crypto" version="1.4.13" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net45" />
  <package id="Select.HtmlToPdf" version="19.2.0" targetFramework="net45" />
</packages>